html {
    font-family: 'Neucha', cursive;
    font-size: 18px;
    color: #212121;
    line-height: 1.4;
    box-sizing: border-box;

    @media screen and (min-width: 768px) {
        font-size: 21px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 24px;
    }

    *,
    &::before,
    &::after {
        box-sizing: inherit;
    }
}

body {
    text-align: center;
    background: #fff;
    text-transform: uppercase;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

iframe {
    width: 100%;
    border: 0;
}

a {
    color: #ff0d12;

    &:hover,
    &:focus {
        color: #263238;
    }
}

img {
    max-width: 100%;
    height: auto;
}

section {
    margin: 2em 0;
}

footer {
    margin: 2em 0 1em;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 15px;
}

.masthead {
    position: relative;
    height: 90vh;
    padding: 2em;
}

.masthead-image {
    width: 100%;
    height: 100%;
    background: url('../img/a-reason-to-stay.jpg') no-repeat center center;
    background-size: contain;
}

.masthead-band-name,
.masthead-album-name {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 400;
    margin: 0;
}

.album-cta {
    height: 10vh;
    margin-bottom: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff0d12;
    border: 3px solid #ff0d12;
    border-right: 0;
    border-left: 0;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    transition: all .1s ease-in-out;

    &:hover,
    &:focus {
        color: #ff0d12;
        background-color: #fff;
    }
}

.masthead-band-name {
    top: 1em;
    right: 0;
    left: 0;

    @media screen and (min-width: 768px) {
        top: auto;
        bottom: 1em;
        left: 15%;
        right: auto;
    }

    @media screen and (min-width: 1200px) {
        left: 25%;
    }
}

.masthead-album-name {
    bottom: 1em;
    right: 0;
    left: 0;

    @media screen and (min-width: 768px) {
        left: auto;
        right: 15%;
    }

    @media screen and (min-width: 1200px) {
        right: 25%;
    }
}

.stores,
.social-media {
    padding: 0;
    font-size: 2em;
    list-style: none;

    li {
        display: inline-block;
        vertical-align: middle;
    }

    a {
        padding: .25em;
    }
}

.copyright {
    display: inline-block;
    font-size: .7em;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.sr-only-focusable {
    &:focus,
    &:active {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        clip: auto;
    }
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;

    &-16by9 {
        padding-bottom: 56.25%;
    }

    .embed-responsive-item,
    embed,
    iframe,
    object,
    video {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}
